@font-face {
  font-family: anaphora;
  src: url('anaphora.trial-light.ttf');
  font-family: netto brushes;
  src: url('Netto\ Brushes.otf');
}

html, body {
    margin: 0;
    padding: 0;
  }
 
body{
  background-color: black;
  color: white;
}

h1{
  position: absolute;
  bottom: -37%;
  right: 5%;
  padding: 2%;
  font-size: 5em;
  color: red;
  font-family: anaphora;
}

p{
  color: white;
  font-family: anaphora;
  font-size: 3em;
  margin-left: 2%;
  padding: 1%;
  margin-top: 5%;
  margin-bottom: -2%;
}

p i{
  color:#50C878;
}

#portfolio p i{
  color: #50C878;
  padding-bottom:5%;
}

a{
  text-decoration: none;
}

#spoiler p{
  color:red;
  font-size: 4em;
  padding: 0%;
  margin-left: 3%;
  margin-bottom: 1%;
}

#list p{
  margin:1%;
  margin-left: 2%;
  font-size: 3em;
}