@font-face {
  font-family: anaphora;
  src: url('anaphora.trial-light.ttf');
  font-family: netto brushes;
  src: url('Netto\ Brushes.otf');
}

html, body {
    margin: 0;
    padding: 0;
  }
 
body{
  background-color: black;
  color: white;
}

h1{
  position: absolute;
  bottom: 1%;
  right: 5%;
  padding: 2%;
  font-size: 8em;
  color: red;
  font-family: anaphora;
}

p{
  color: white;
  font-family: anaphora;
  font-size: 2.5em;
  margin: 2%;
  padding: 5%;
}