html, body {
    margin: 0;
    padding: 0;
  }
  
canvas {
    display: block;
    margin: left;
    margin-top:10%;
    padding: 2%;
  }

#pumpkincanvas{
    display: block;
    margin: right;
    margin-bottom: 5%;
    padding: 2%;
}
  
body{
    background-color: black;
    color: white;
    }

h1{
    position: absolute;
    bottom: 2%;
    left: 35%;
    text-align: center;
    font-size: 7em;
    color: red;
  }
  
h5{
    position: absolute;
    top: 5%;
    right: 5%;
    color: #50C878;
    font-size: 3em;
  }
  
a{
    text-decoration: none;
  }

p{
    font-size: 4em;
    position: absolute;
    top: 35%;
    right:10%;
}
  