@font-face {
  font-family: anaphora;
  src: url('anaphora.trial-light.ttf');
  font-family: netto brushes;
  src: url('Netto\ Brushes.otf');
}

html, body {
    margin: 0;
    padding: 0;
  
  }
  
  body{
    background-color: black;
    color: white;
    cursor: url('Brush.png'), auto;
    }

canvas {
    display: block;
    margin-left: 10%;
    margin-top: 15%;
    padding: 2%;
  }

#pumpkincanvas{
    display: block;
    margin: right;
    margin-bottom: 5%;
    padding: 2%;
}
  


h1{
    position: absolute;
    bottom:0.1%;
    left: 50%;
    text-align: center;
    font-size: 8em;
    color: red;
    font-family: anaphora;
  }
  
h5{
    position: absolute;
    top: 5%;
    right: 5%;
    color: #50C878;
    font-size: 4em;
    font-family: Netto Brushes;
  }
  
a{
    text-decoration: none;
  }

p{
    font-size: 2.5em;
    position: absolute;
    top: 45%;
    right:8%;
    font-family: Netto Brushes;
}

@media screen and (max-width: 600px){
  p{
    font-size: 3em;
    position: absolute;
    top: 65%;
    left:10%;
  }

  h1{
    position: absolute;
    font-size: 7em;
    bottom: 2%;
    left: 20%; 
  } 

  h5{
    position: absolute;
    top: -5%;
    right: 5%;
  }
}