@font-face {
  font-family: anaphora;
  src: url('anaphora.trial-light.ttf');
  font-family: netto brushes;
  src: url('Netto\ Brushes.otf');
}

html, body {
    margin: 0;
    padding: 0;
  }
  
canvas {
    display: block;
    margin-left: 2%;
    margin-top: 5%;
    padding: 2%;
  }

#pumpkincanvas{
    display: block;
    margin: right;
    margin-bottom: 5%;
    padding: 2%;
}
  
body{
    background-color: black;
    color: white;
    }

h1{
    position: absolute;
    bottom: 1%;
    width: 100%;
    text-align: center;
    font-size: 7em;
    color: red;
    font-family: anaphora;
  }
  
h5{
    position: absolute;
    top: 5%;
    right: 5%;
    color: #50C878;
    font-size: 3em;
    font-family: Netto Brushes;
  }
  
a{
    text-decoration: none;
  }

p{
    font-size: 4em;
    position: absolute;
    top: 35%;
    right:10%;
    font-family: Netto Brushes;
}
  