html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
    margin: auto;
    margin-top:5%;
  }
  
  body{
  background-color: black;
  color: white;
  }

  h1{
    position: absolute;
    bottom: 1%; 
    width: 100%; 
    text-align: center;
    font-size: 7em;
    color: red;
  }
  
  h5{
    position: absolute;
    top: 5%;
    right: 5%;
    color: #50C878;
    font-size: 3em;
  }
  
  a{
    text-decoration: none;
  }

  #p1{
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 10%;
  }

